
/* Adding tailwind */
@import "tailwindcss";

/* Setting up base styles */
*,
*::before,
*::after {
    /* Fonts */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-user-drag: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;