
/* Добавляем tailwind */
@import "tailwindcss";

/* Базовые стили */
*,
*::before,
*::after {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-user-drag: none;
}

/* Понятия не имею, нужно ли оно тут, но лучше оставлю */
@tailwind base;
@tailwind components;
@tailwind utilities;